/* dashbord */
.stats-header {
    gap: 10px;
}

.filter-box {
    max-width: 100%;
}

/* Desktop */
@media (min-width: 768px) {
    .filter-box {
        max-width: 350px;
    }
}

/* employe liste */

/* Actions */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

/* Colonne action */
.action-col {
    width: 180px;
}

/* Mobile */
@media (max-width: 768px) {

    /* réduire taille texte */
    .my-table {
        font-size: 10px;
    }

}


.my-table {
    width: 100%;
    table-layout: fixed;
}

.my-table td, .my-table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-cell {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}